In [244]:
import sys

sys.path.append("../")

from run import *
import pandas as pd

from run import *

In [245]:
runner = Runner(
    Input,
    Result,
    solver_cmd="solver_cmd",
    solver_version="solver_version",
    database_csv="../log/database.csv",
    input_csv="../log/input.csv",
    log_file="../log/a.log",
    is_maximize=False,
    verbose=0,
)
df = runner.read_database_df()
df = df[df.solver_version.str.startswith("multi-start-")]
df.solver_version = df.solver_version.str[len("multi-start-"):].astype(int)
df

,input_file,solver_version,score,duration,d,n,a.sum.mean,best_score,relative_score
140160,tools/in/0000.txt,1,964,2.9051,5,10,777225.800000,332,0.344398
140161,tools/in/0001.txt,1,71015,2.9097,25,36,984871.680000,56265,0.792297
140162,tools/in/0002.txt,1,41562,2.9082,25,15,956907.920000,38667,0.930345
140163,tools/in/0003.txt,1,8333,2.9108,11,42,946477.090909,7167,0.860074
140164,tools/in/0004.txt,1,9531,2.9052,9,37,972477.333333,8060,0.845662
...,...,...,...,...,...,...,...,...,...
146655,tools/in/0495.txt,13,10676,2.9549,28,36,818769.321429,6169,0.577838
146656,tools/in/0496.txt,13,1169001,2.9525,47,8,997224.851064,1165001,0.996578
146657,tools/in/0497.txt,13,2726,2.9525,19,29,779292.526316,2181,0.800073
146658,tools/in/0498.txt,13,90271,2.9529,35,15,967206.457143,75761,0.839262
146659,tools/in/0499.txt,13,182007,2.9604,40,19,985798.450000,138537,0.761163

In [246]:
for i in range(1, 11):
    a = df[df["n"] // 5 == i]
    if len(a) == 0:
        continue
    print(i, a.groupby("solver_version").relative_score.mean().idxmax())

1 12
2 10
3 4
4 3
5 3
6 1
7 2
8 1
9 1
10 2

In [247]:
for i in range(1, 11):
    a = df[df["d"] // 5 == i]
    if len(a) == 0:
        continue
    print(i, a.groupby("solver_version").relative_score.mean().idxmax())

1 10
2 4
3 2
4 2
5 1
6 1
7 1
8 1
9 1
10 3

In [257]:
for i in range(75, 100):
    a = df[(df["a.sum.mean"] / 10000).astype(int) == i]
    if len(a) == 0:
        continue
    print(i, a.groupby("solver_version").relative_score.mean().idxmax())

75 4
76 1
77 3
78 2
79 5
80 2
81 5
82 2
83 3
84 2
85 2
86 2
87 2
88 8
89 3
90 1
91 2
92 1
93 2
94 2
95 2
96 1
97 1
98 1
99 3

In [249]:
df["n * d / 10"] = (df.n * df.d) // 50
for i in range(1, 51):
    a = df[df["n * d / 10"] == i]
    if len(a) == 0:
        continue
    a = a.groupby("solver_version").relative_score.mean()
    # print(i, a)
    print(i, a.idxmax())

1 6
2 10
3 10
4 4
5 10
6 4
7 5
8 3
9 2
10 6
11 2
12 2
13 3
14 4
15 3
16 1
17 1
18 2
19 2
20 1
21 2
22 1
23 1
24 1
25 2
26 1
27 1
28 1
29 1
30 1
31 1
32 1
33 1
34 1
35 1
36 1
37 1
38 1
39 1
40 1
41 1
42 1
43 1
44 2
45 1
46 1